body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#float-right, #float-left{
	margin-top: 20px;
	margin-bottom: 20px;
}

#float-right{
	float:left;
	width: 50%;
	height: 50%;
}

#float-left{
	float:right;
	clear: right;
	width: 50%;
	height: 50%;	
}

